@media (max-width:780px) {.head-right{
    display: none !important;
}
    
}
.head{
    height: 80px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;background-color: white;position: fixed;top: 0px;z-index:111111111;
}
.head-left{
    display: flex;gap: 10px;width: 50%;padding-left: 40px;
    
}
.topround:hover{
    transform: scale(1.5);}
.head-left img{
    max-width: 280px;
    height: 32px;
}
.head-right{
    display: flex;
}
.round{
    width: 95px;
    height: 32px;
    border-radius: 40px;
    border: 1px solid black;
    /* display: inline-block; */
}
.head-right span{font-weight: 500;
    font-size:18px; border-radius: 40px;border: 0px solid black;
    line-height: 45px;text-align: center;
    height: 45px;
    width: 85px;transition: border 0.5s ease-out;
}
.head-right span:hover{
   border: 1px solid black;
   
}
.mybody{
    background-color: #f4f4f0
}
.sect{
    background-color: ;
    height: 675px;
    width: 100%;

}
.inside-sect{
    height: 327px;
    width: 780px;
}
.inside-sect input{height: 64px;width: 390px; color: rgb(4, 4, 4);font-size: 20px;padding: 20px;background-color: transparent;border-radius:5px;border: 1px solid black;}
.inside-sect input::placeholder{
    padding-left: 20px;
}
.grid-set{gap: 40px;
    /* border: 1px solid black; */
    justify-content: center;

}
.grid-set>div{
    height: 480px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,0.5);
    background-color: white;

}
.yellow-box{
    height: 320px;
    width: 90%;;background-color: #FFC900;
    border: 1px solid black;
    border-radius:200px;margin: 120px auto 50px auto;
    position:relative;
}
@keyframes rotate { 
    0%{transform: rotateY(0deg)}
    50%{transform: rotateY(180deg);translate:-60px ;
        }
        100%{transform: rotateY(0deg)}



     
}
    

.mensvg{
    animation: rotate  5s ease-in-out infinite 1s }
.zin1:hover{transform: translate3d(-15px,-10px, 100px);
}
.zin1:hover+.zin2{transform: translate3d(-10px,-5px, 90px);
}
